<% if !articles.blank? %>
  <% for a in articles %>
    <% cache("frontend_article_partials/#{a.id}") do %>
      <div class="article-item">
        <div class="article-info">
          <%= section_and_primary_tag_link a.meta(:piece) %>
          <h1 class="headline"><%= link_to a.meta(:headline), a.meta(:frontend_display_path) %></h1>
          <% if a.meta(:subhead).present? %>
            <h2 class="subhead"><%= a.meta(:subhead) %></h2>
          <% end %>
          <h4 class="byline">
            By <%= linked_authors_line a.meta(:authors) %>
            <% if a.meta(:bytitle).present? %>
              — <%= a.meta(:bytitle).try(:downcase) %>
            <% end %>
          </h4>
          <p class="lede"><%= a.meta(:intro) %></p>
        </div>

        <div class="article-thumbnail">
          <% if a.meta(:thumbnail_picture).try(:content).try(:url, :thumbnail) %>
            <img class="thumbnail" src="<%= a.meta(:thumbnail_picture).try(:content).try(:url) %>">
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>

<% end %>