<article class="article" data-allow-ads="<%= @piece.meta(:allow_ads).to_s %>">
  <div class="article-sections">
    <%= section_link @piece %>
    <%= primary_tag_link @piece %>
  </div>
  <h1 class="headline"><%= @article.meta(:headline) %></h1>
  <h2 class="subhead"><%= @article.meta(:subhead) %></h2>
  <h4 class="article-meta">
         <%= debug @article %>
        <p>
          <b>Debug:</b>
          <%= @article.meta(:attribution) %>
        </p>
    <% if @article.meta(:authors).any? %><span class="byline">By <%= linked_authors_line @article.meta(:authors) %></span>
    <% elsif @article.meta(:attribution) != "" && !@article.meta(:attribution).match(/unknown/i)%> 
    <span class="byline">By <%= @article.meta(:attribution) %></span>
    <% end %>
    <span class="timestamp">
      <%= link_to(frontend_issue_path(volume: @article.piece.issue.volume, number: @article.piece.issue.number)) do %>
      <%= @article.meta(:published_at).strftime('%b. %-d, %Y') %>
      <% end %>
    </span>
  </h4>

  <ul class="article-social">
    <li class="article-social-fb">
      <a href="//www.facebook.com/sharer/sharer.php" target="_blank">
        <%= icon('facebook-square', '', class: 'fa-fw') %>
        <span>Facebook</span>
      </a>
    </li>
    <li class="article-social-tw">
      <a href="//www.twitter.com/intent/tweet?url=<%= root_url.chop + @piece.meta(:frontend_display_path) %>&text=<%= @article.headline.gsub(/ /, '+') %>" target="_blank">
        <%= icon('twitter', '', class: 'fa-fw') %>
        <span>Twitter</span>
      </a>
    </li>
    <li class="article-social-rd" >
      <a href="//www.reddit.com/submit?url=<%= root_url.chop + @piece.meta(:frontend_display_path) %>" target="_blank">
        <%= icon('reddit', '', class: 'fa-fw') %>
        <span>Reddit</span>
      </a>
    </li>
    <li class="article-social-pt">
      <a href="javascript:window.print()">
        <%= icon('print', '', class: 'fa-fw') %>
        <span>Print</span>
      </a>
    </li>

    <img src="" alt="" class="ad-piece-left" data-ads="piece_sidebar">
  </ul>

  <%= @html.html_safe %>

  <% if @piece.tags.any? %>
    <ul class="article-tags">
      <li>Read more</li>
      <% @piece.tags.each do |t| %>
        <li><a href="<%= link_to_tag t %>"><%= t %></a><% unless t.equal? @piece.tags.last %>,<% end%></li>
      <% end %>
    </ul>
  <% end %>
</article>

<% if @piece.meta(:uses_legacy_comments?) %>
  <%= render 'legacy_comments', comments: @piece.meta(:legacy_comments) %>
<% else %>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'tt-sample';
      (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% end %>
