<article>
  <%= section_and_primary_tag_link @piece %>
  <h1 class="headline"><%= @article.meta(:headline) %></h1>
  <h2 class="subhead"><%= @article.meta(:subhead) %></h2>
  <h4 class="byline"><% if @article.meta(:authors).any? %>by <%= linked_authors_line @article.meta(:authors) %>&emsp;|&emsp;<% end %>Last updated <%= @article.meta(:modified_at).strftime('%b. %d, %Y') %></h4>

  <ul class="article-social">
    <li class="article-social-em"><a href="#"><%= icon('envelope', 'Email', class: 'fa-fw') %></a></li>
    <li class="article-social-fb"><a href="//www.facebook.com/sharer/sharer.php" target="_blank"><%= icon('facebook-square', 'Facebook', class: 'fa-fw') %></a></li>
    <li class="article-social-tw"><a href="//www.twitter.com/intent/tweet?url=<%= request.original_url  %>&text=<%= @article.headline.gsub(/ /, '+') %>" target="_blank"><%= icon('twitter', 'Twitter', class: 'fa-fw') %></a></li>
    <li class="article-social-rd" ><a href="//www.reddit.com/submit?url=<%= request.original_url  %>" target="_blank"><%= icon('reddit', 'Reddit', class: 'fa-fw') %></a></li>
    <li class="article-social-pt"><a href="javascript:window.print()"><%= icon('print', 'Print', class: 'fa-fw') %></a></li>
  </ul>

  <%= @html.html_safe %>

  <% if @piece.tags.any? %>
    <ul class="article-tags">
      <li>Read more</li>
      <% @piece.tags.each do |t| %>
        <li><a href="<%= link_to_tag t %>"><%= t %></a><% unless t.equal? @piece.tags.last %>,<% end%></li>
      <% end %>
    </ul>
  <% end %>
</article>

<% if @piece.meta(:uses_legacy_comments?) %>
  <%= render 'legacy_comments', comments: @piece.meta(:legacy_comments) %>
<% else %>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'tt-sample';
      (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% end %>
