= render 'frontend_homepage/nameplate'
%img.ad-homepage-top{:alt => "", "data-ads" => "homepage_top", :src => ""}/
- if @homepage_editing || @homepage_locked
  = render 'master_editing_toolbar', homepage: @homepage
- @homepage.layout.each do |row|
  = render 'frontend_homepage/row', row: row
- if @homepage_editing
  = render 'new_row_toolbar', homepage: @homepage
= render 'frontend/homepage/below_fold'
%img.ad-homepage-bottom{:alt => "", "data-ads" => "homepage_bottom", :src => ""}/

