.search-toggle-bar
  .search-toggle-wrap
    %span{class: ("active" if @type == :articles)}= link_to 'Articles', frontend_search_path(type: :articles, query: @query)
    %span.divider
      %a |
    %span{class: ("active" if @type == :images)}= link_to 'Images', frontend_search_path(type: :images, query: @query)
- if @type == :articles
  .list-sidebar
    .list-sidebar-content
      %h1.list-header Search results
      %h2.list-count= pluralize @count, 'article'
      = paginate @articles, :window => 1, :outer_window => 0
  .list-articles
    = render 'frontend/article_list', articles: @articles
    = paginate @articles, :window => 2, :outer_window => 0
- else
  .image-search-topbar
    %p
      %span.count= pluralize @count, 'image'
      %span.matching matching
      %span.query "#{@query.gsub! '+', ' '}"
  .list-images
    = render 'frontend/image_list', images: @images
  .pagination-wrap
    = paginate @images, :window => 3, :outer_window => 0
