.list-sidebar
  .list-sidebar-content
    %h1.list-header= @section.name
    %h2.list-count= pluralize @count, 'article'
    = paginate @articles, :window => 1, :outer_window => 0
.list-articles
  = render 'article_list', articles: @articles
  = paginate @articles, :window => 2, :outer_window => 0
