<% uuid = Homepage.generate_uuid %>
<div class="new-row-form" data-uuid="<%= uuid %>">
  <%= form_tag create_new_row_homepages_path, remote: true do %>
    <%= hidden_field_tag :uuid, uuid %>

    <%= select_tag :type, options_for_select(Homepage::ROW_TYPES.map { |k, v| [k, v] }) %>

    <%= submit_tag 'Add New Row' %>
  <% end %>
</div>