<div class="titleline">
  <h1>Homepage Layouts</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th class="center">Published?</th>
      <th class="center">Publish Ready?</th>
      <th>Created At</th>
      <th>Last Modified At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @homepages.each do |h| %>
      <tr>
        <td><%= h.id %></td>
        <td class="center"><%= link_to 'Yes', external_root_url if h.published? %></td>
        <td class="center"><%= 'Yes' if h.publish_ready? %></td>
        <td><%= time_ago_in_words h.created_at.to_s %> ago</td>
        <td><%= time_ago_in_words h.updated_at.to_s %> ago</td>
        <td><%= link_to 'View & Edit', homepage_path(h) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
