<a class="primary-tag" href="#"><%= piece.primary_tag %></a>
<h1 class="headline"<%= @homepage_editing ? ' data-editable=headline' : '' %>><a href="<%= piece.frontend_display_path %>"><%= headline %></a></h1>
<h4 class="byline"><% if piece.article.authors.any? %>by <%= raw piece.article.authors.map {|a| "<a href='#'>#{a.name}</a>"}.to_sentence %>&ensp;|&ensp;<% end %><%= piece.article.updated_at.strftime('%b. %d, %Y') %></h4>
<p class="lede"<%= @homepage_editing ? ' data-editable=lede' : '' %>><%= lede %></p>