<% piece = picture.image.associated_piece %>

<% if piece %>
  <%= link_to piece.frontend_display_path do %>
    <img src="<%= picture.content.url(:large) %>">
  <% end %>
<% else %>
  <img src="<%= picture.content.url(:large) %>">
<% end %>
<figcaption>
  <span<%=raw @homepage_editing ? ' data-editable="caption"' : '' %>><%= caption %></span>
  <span class="attribution"><%= picture.image.attribution %></span>
</figcaption>