<h1>Issues</h1>

<table class="table">
  <thead>
    <tr>
      <th>Volume</th>
      <th>Number</th>
      <th>New</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= form_for @new_issue do |f| %>
      <td><%= f.text_field :volume, class: 'form-control', placeholder: 'Volume number' %></td>
      <td><%= f.text_field :number, class: 'form-control', placeholder: 'Issue number' %></td>
      <td><%= f.submit 'Create Issue', id: 'create_issue', class: 'btn btn-primary' %></td>
      <% end %>
    </tr>
    <%= content_tag_for(:tr, @issues) do |issue| %>
      <td><%= issue.volume %></td>
      <td><%= issue.number %></td>
      <td></td>
    <% end %>
  </tbody>
</table>
