<div class="titleline">
  <h1><%= @issue.name %></h1>

  <%= link_to issues_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list"></span>
    Back
  <% end %>
</div>

<% @articles.each do |sec, articles| %>
  <h2><%= sec %></h2>

  <table class="table articles_table">
    <thead>
      <tr>
        <th class="center rank-column">Rank</th>
        <th class="center web-status-column">Web Published?</th>
        <th class="center print-status-column">Print Ready?</th>
        <th class="article-column">Article</th>
        <th class="versions-column"></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'articles/article_list', json_articles: articles.sort_by { |a| a[:rank] }, mark_print_status: true, display_rank: true, hide_section_name: true %>
    </tbody>
  </table>
<% end %>

<% if @images.any? %>
  <h2>Images</h2>

  <table class="table">
    <thead>
      <tr>
        <th class="center">Publish Ready? </th>
        <th>Image</th>
        <th colspan="2"></th>
        <th class="center image_thumbnail_header">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'images/image_list', images: @images %>
    </tbody>
  </table>
<% end %>

