<h1><%= @issue.name %></h1>

<% @articles.each do |sec, articles| %>
  <h2><%= sec %></h2>

  <table class="table" id="articles_table">
    <thead>
      <tr>
        <th class="center">Section</th>
        <th class="center">Web Published?</th>
        <th class="center">Print Ready?</th>
        <th>Article</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'articles/article_list', json_articles: articles %>
    </tbody>
  </table>
<% end %>

<% if @images.any? %>
  <h2>Images</h2>

  <table class="table">
    <thead>
      <tr>
        <th class="center">Publish Ready? </th>
        <th>Image</th>
        <th></th>
        <th class="center image_thumbnail_header">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |i| %>
        <tr>
          <td class="center">Unknown</td>
          <td>
            <p>
              <% if i[:primary_slug] %>
                <span class="slug">
                  <%= i[:primary_slug] %>
                </span>
                •
              <% end %>
              <%= i[:caption] %>
            </p>

            <% if i[:assigned_pieces].empty? %>
              <p>Not assigned to any pieces. </p>
            <% else %>
              <p>Assigned to: </p>
              <% i[:assigned_pieces].each do |p| %>
                <p>
                  <span class="slug"><%= link_to p[:slug], p[:latest_version_path] %></span>
                  •
                  <%= p[:headline] %>
                </p>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_image_path(i[:id]) %></td>
          <td>
            <% if i[:thumbnail_path] %>
              <img src="<%= i[:thumbnail_path] %>" class="image_thumbnail" alt="">
            <% else %>
              Empty Image
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

