<div class="list-sidebar">
  <div class="list-sidebar-content">
    <h1 class="list-header"><%= @section.name %></h1>
    <h2 class="list-count"><%= pluralize @count, 'article' %></h2>
    <%= paginate @pieces %>
  </div>
</div>
<div class="list-articles">
  <%= render 'frontend_pieces/article_list', articles: @articles %>
  <%= paginate @pieces %>
</div>