<% for list in article.asset_article_lists %>
  <a class="article_list btn btn-default" data-placeholder-html="<%= list.to_placeholder_html %>">List: <%= list.name %></a>
<% end %>

<% for image in article.asset_images %>
  <% for picture in image.pictures %>
    <img class="asset-candidate" src="<%= direct_image_picture_path(image, picture) %>">
  <% end %>
<% end %>

<%= link_to 'Create Image', new_image_path(piece_id: article.piece_id), target: '_blank', class: 'btn btn-default new-asset-btn' %>
<%= link_to 'Refresh Assets List', assets_list_article_path(article), remote: true, class: 'btn btn-default new-asset-btn' %>