<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :byline %>
    <%= f.text_field :byline, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :dateline %>
    <%= f.text_field :dateline, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :html, 'Content' %>
    <div class="row">
      <div class="col-md-9">
        <%= f.text_area :html, class: 'form-control ckeditor' %>
      </div>
      <div class="col-md-3">
        <% for image in @article.asset_images %>
          <img class="asset-candidate" src="<%= direct_image_path(image) %>">
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Create Article', class: 'btn btn-primary' %>
  </div>
<% end %>
