<%= form_for(@article) do |f| %>

  <%= render 'pieces/embedded_fields', piece: @piece %>

  <hr>

  <div class="form-group">
    <%= f.label :headline %>
    <%= f.text_field :headline, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subhead %>
    <%= f.text_field :subhead, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author_ids, 'Authors' %>
    <%= f.text_field :author_ids, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bytitle %>
    <%= f.text_field :bytitle, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lede %>
    <%= f.text_area :lede, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :html, 'Content' %>
    <% if local_assigns[:is_new] %>
      <%= f.text_area :html, class: 'form-control ckeditor' %>
    <% else %>
      <div class="row">
        <div class="col-md-9">
          <%= f.text_area :html, class: 'form-control ckeditor' %>
        </div>
        <div class="col-md-3" id="article_assets_list">
          <%= render 'articles/assets_list', article: @article %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <% if local_assigns[:is_new] %>
      <%= f.submit 'Create Article', class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit 'Update Article', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
