<%= form_for(@article) do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= render 'pieces/embedded_fields', piece: @piece %>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :headline %>
        <%= f.text_field :headline, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :subhead %>
        <%= f.text_field :subhead, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :author_ids, 'Authors' %>
        <%= f.text_field :author_ids, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :bytitle %>
        <%= f.text_field :bytitle, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :lede, "Teaser blurb (appears on homepage, search page, etc.)" %>
        <%= f.text_area :lede, class: 'form-control' %>
      </div>
    </div>
  </div>

  <% if local_assigns[:is_new] %>
    <div class="form-group">
      <%= label_tag :btf_preview, 'Below the Fold Preview' %>
      <iframe scrolling="no" class="btf-preview" src="<%= below_fold_preview_articles_url %>"></iframe>
    </div>
  <% else %>
    <div class="form-group">
      <%= label_tag :btf_preview, 'Below the Fold Preview' %>
      <iframe scrolling="no" class="btf-preview" src="<%= below_fold_preview_article_article_version_url(@article, @version) %>"></iframe>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :html, 'Content' %>
    <% if local_assigns[:is_new] %>
      <%= f.text_area :html, class: 'form-control ckeditor' %>
    <% else %>
      <div class="row">
        <div class="col-md-9">
          <%= f.text_area :html, class: 'form-control ckeditor' %>
        </div>
        <div class="col-md-3" id="article_assets_list">
          <%= render 'articles/assets_list', article: @article %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <% if local_assigns[:is_new] %>
      <%= f.submit 'Create Article', class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit 'Update Article', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
