#newAuthorModal.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  = form_for Author.new, remote: true do |f|
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %h5.modal-title Create New Author
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-group
            = f.text_field :name, placeholder: 'Name', class: 'form-control'
          .form-group
            = f.text_field :email, placeholder: 'Email (optional)', class: 'form-control'
          .form-group
            = f.text_field :twitter, placeholder: 'Twitter (optional)', class: 'form-control'
          .form-group
            = f.text_area :bio, placeholder: 'Bio information (optional)', class: 'form-control'
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
          = f.button 'Create', class: 'btn btn-primary', data: {disable_with: loading_icon}


= form_for article, remote: !article.new_record? do |f|
  = fields_for draft do |df|
    .row
      / REBIRTH_TODO: BTF preview
      .col-lg-8
        .row
          .col-md-12
            .form-group
              = df.text_field :headline, placeholder: 'Headline of the article (in sentence case without trailing period)', class: 'form-control', data: {smart_quotes: true}, autocomplete: 'off'
        .row
          .col-md-12
            .form-group
              = df.text_field :subhead, placeholder: 'Subhead of the article (in sentence case without trailing period)', class: 'form-control', data: {smart_quotes: true}, autocomplete: 'off'
        .row
          .col-md-12
            .form-group
              = df.text_area :html, class: 'form-control ckeditor'
        .row
          .col-sm-12
            .actions
              - if article.new_record?
                = f.submit 'Create Article', class: 'btn btn-primary'
              - else
                = f.button 'Update', class: 'btn btn-primary', data: {disable_with: loading_icon}, name: 'update'
                = f.button 'Save', class: 'btn btn-success', data: {disable_with: loading_icon}, name: 'save'
      .col-lg-4
        .well
          .row
            .col-md-12
              .form-group
                = f.label :slug, 'Slug (public-facing URL component)'
                = f.text_field :slug, class: 'form-control', placeholder: 'e.g., example-slug-of-interesting-article', disabled: article.has_web_published_draft?
          .row
            .col-md-12
              .form-group
                = f.select :issue_id, options_from_collection_for_select(Issue.limit(10).append(article.issue), :id, :name, article.issue_id), {}, {class: 'form-control'}
          .row
            .col-md-12
              .form-group
                = f.select :section_id, options_from_collection_for_select(Section.all, :id, :name, article.section_id), {}, {class: 'form-control'}
          .row
            .col-md-12
              .checkbox
                = f.label :syndicated do
                  = f.check_box :syndicated, data: {hide_trigger: 'syndicated'}
                  This is a syndicated article.
              .checkbox
                = f.label :allow_ads do
                  = f.check_box :allow_ads
                  Allow ads to be displayed on this article.
              .checkbox
                = f.label :brief do
                  = f.check_box :brief
                  This is a brief article.
          - unless article.new_record?
            %p.form-comment Changes here take effect upon being saved.
        .well
          .row
            .col-md-12
              .form-group
                = df.label :primary_tag, 'Primary Tag'
                = df.text_field :primary_tag, placeholder: 'e.g., THEATER REVIEW', class: 'form-control'
          .row
            .col-md-12
              .form-group
                = df.label :secondary_tag, 'Other Tags (comma-separated)'
                = df.text_field :secondary_tags, class: 'form-control', data: {role: 'tagsinput'}
          .row{'data-hide-on' => 'syndicated'}
            .col-md-12
              .form-group
                = df.label :comma_separated_author_ids, 'Authors'
                = link_to 'Create New', '#', class: 'float-right', tabindex: 0, data: {toggle: 'modal', target: "#newAuthorModal"}
                = df.text_field :comma_separated_author_ids, class: 'form-control'
          .row{'data-hide-on' => 'syndicated'}
            .col-md-12
              .form-group
                = df.label :bytitle, 'Bytitle'
                = df.text_field :bytitle, placeholder: 'e.g., News Editor', class: 'form-control'
          .row{'data-hide-on' => 'syndicated'}
            .col-md-12
              .form-group
                = df.label :lede, "Teaser blurb"
                = df.text_area :lede, placeholder: 'Brief introduction of the article that appears on homepage, search page, etc.', class: 'form-control'
          .row{'data-hide-on' => 'syndicated'}
            .col-md-12
              .form-group
                = df.label :social_media_blurb, 'Social Media Blurb'
                = df.text_area :social_media_blurb, placeholder: 'Brief description of the article for our social media pages', class: 'form-control'
          .row{'data-hide-on' => 'syndicated'}
            .col-md-12
              .form-group
                = df.label :sandwich_quotes,  'Sandwich Quotes'
                = df.text_area :sandwich_quotes, placeholder: 'Filler quotes for Prod', class: 'form-control'
          .row{'data-show-on' => 'syndicated'}
            .col-md-12
              .form-group
                = df.label :attribution, "Attribution line"
                = df.text_field :attribution, class: 'form-control'
          .row
            .col-md-12.text-right
              = link_to 'Show Advanced Fields', '', data: {'hide-trigger' => 'show_advanced', 'hide-value' => true, 'hide-on' => 'show_advanced'}
          .row{'data-show-on' => 'show_advanced'}
            .col-md-12
              .form-group
                = df.label :redirect_url, 'Redirect URL'
                = df.text_field :redirect_url, placeholder: 'Leave empty if not used', class: 'form-control'
          .row
            .col-md-12.text-right
              = link_to 'Hide Advanced Fields', '', data: {'hide-trigger' => 'show_advanced', 'hide-value' => false, 'show-on' => 'show_advanced'}
          - unless article.new_record?
            %p.form-comment Changes here require EIC approval.
