<h1>Articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Byline</th>
      <th>Dateline</th>
      <th># Chunks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.byline %></td>
        <td><%= article.dateline %></td>
        <td><%= article.chunks.size %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article), data: { no_turbolink: true } %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary', data: { no_turbolink: true } %>
