<p id="notice"><%= notice %></p>

<div id="piece_container">

  <header>
    <h1><%= @article.piece.title %></h1>

    <% unless @article.subhead.blank? %>
      <p id="subhead"><%= @article.subhead %></p>
    <% end %>

    <% unless @article.authors.empty? %>
      <p id="authors">By <%= @article.authors_line %></p>
    <% end %>

    <% unless @article.bytitle.blank? %>
      <p id="byline"><%= @article.bytitle %></p>
    <% end %>

    <p>
      <% for tag in @article.piece.tags %>
        <span class="label label-primary"><%= tag %></span>
      <% end %>
    </p>
  </header>

  <p class="intro">Intro: <%= @article.intro %></p>

  <%= @html.html_safe %>
</div>

<hr>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary', data: {no_turbolink: true} %>
<%= link_to 'Back', articles_path, class: 'btn btn-default', data: {no_turbolink: true} %>
<%= link_to 'View History Versions', article_article_versions_path(@article), class: 'btn btn-default', data: {no_turbolink: true} %>
<%= link_to 'Download InCopy Tagged File', incopy_tagged_file_article_path(@article), class: 'btn btn-default' %>
