<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary', data: {no_turbolink: true} %>
<%= link_to 'Back', articles_path, class: 'btn btn-default' %>

<h1><%= @article.title %></h1>

<% unless @article.byline.blank? %>
  <p><b>By <%= @article.byline %></b></p>
<% end %>

<% unless @article.dateline.blank? %>
  <p><em><%= @article.dateline %></em></p>
<% end %>

<%= @article.html.html_safe %>
