<style>
  <%= Diffy::CSS %>
</style>

<hr>
  <%= link_to 'Back', articles_path, class: 'btn btn-default', data: {no_turbolink: true} %>
  <%= link_to 'View History Versions', article_article_versions_path(@this_article), class: 'btn btn-default', data: {no_turbolink: true} %>
  <button class="btn btn-default" id="diff_side_button">Side-by-side view</button>
  <button class="btn btn-default" id="diff_unified_button">Unified view</button>

<hr>

<div class="diff_table" id="sidebyside">
  <div id="left_container">
    <%= @html_left.html_safe.html_safe %>
  </div>
  <div id="right_container">
    <%= @html_right.html_safe.html_safe %>
  </div>
</div>

<div class="diff_table" id="unified" style="display:none">
  <%= @html.html_safe %>
</div>