<p id="notice"><%= notice %></p>

<div id="piece_container">

  <header>
    <h1>
      <% if @piece.meta(:primary_tag) %>
        <%= @piece.meta(:primary_tag).upcase %>:
      <% end %>
      <%= @article.meta(:headline) %>
    </h1>

    <% unless @article.meta(:subhead).blank? %>
      <p id="subhead"><%= @article.meta(:subhead) %></p>
    <% end %>

    <% unless @article.meta(:authors).empty? %>
      <p id="authors">By <%= @article.meta(:authors_line) %></p>
    <% end %>

    <% unless @article.meta(:bytitle).blank? %>
      <p id="byline"><%= @article.meta(:bytitle) %></p>
    <% end %>

    <p>
      <% for tag in @piece.meta(:tags) %>
        <span class="label label-primary"><%= tag %></span>
      <% end %>
    </p>
  </header>

  <p class="intro">Intro: <%= @article.meta(:intro) %></p>

  <%= @html.html_safe %>
</div>

<hr>

<%= link_to 'Edit from this version', revert_article_article_version_path(@article, @version), class: 'btn btn-primary', data: {no_turbolink: true} %>

<% unless @version.published? %>
  <% if can? :publish, @version %>
    <%= form_tag publish_article_article_version_path(@article, @version), id: 'publish_form' do %>
      <%= submit_tag 'Mark as published', class: 'btn btn-success' %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', articles_path, class: 'btn btn-default', data: {no_turbolink: true} %>
<%= link_to 'View History Versions', article_article_versions_path(@article), class: 'btn btn-default', data: {no_turbolink: true} %>
<%= link_to 'Download InCopy Tagged File', as_xml_article_path(@article), class: 'btn btn-default' %>
