<p id="notice"><%= notice %></p>

<hr>

<%= link_to 'Edit from this version', revert_article_article_version_path(@article, @version), class: 'btn btn-primary', data: {no_turbolink: true} %>


<% if can? :update_web_status, @version %>
  <%= form_for @version, url: update_web_status_article_article_version_url(@version.article.id, @version.id) do |f| %>
    <%= f.select :web_status, @web_status_options, {}, class: 'form-control', disabled: @version.web_published? %>
  <% end %>
  <span id="update_web_status_result_<%= @version[:id] %>" class="update-web-status-result"></span>
<% end %>
<% if @version.web_published? %>
  <%= button_tag 'Published', class: 'btn btn-success', disabled: true %>
<% end %>


<% if can? :mark_print_ready, @version %>
  <% unless @version.print_ready? %>
    <%= form_tag mark_print_ready_article_article_version_path(@article, @version), id: 'print_ready_form' do %>
      <%= submit_tag 'Mark as ready for print', class: 'btn btn-success' %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', articles_path, class: 'btn btn-default', data: {no_turbolink: true} %>
<%= link_to 'View History Versions', article_article_versions_path(@article), class: 'btn btn-default', data: {no_turbolink: true} %>

<hr>

<div id="piece_container">

  <header>
    <h1>
      <% if @piece.meta(:primary_tag) %>
        <%= @piece.meta(:primary_tag).upcase %>:
      <% end %>
      <%= @article.meta(:headline) %>
    </h1>

    <% unless @article.meta(:subhead).blank? %>
      <p id="subhead"><%= @article.meta(:subhead) %></p>
    <% end %>

    <% unless @article.meta(:authors).empty? %>
      <p id="authors">By <%= @article.meta(:authors_line) %></p>
    <% end %>

    <% unless @article.meta(:bytitle).blank? %>
      <p id="byline"><%= @article.meta(:bytitle) %></p>
    <% end %>

    <p>
      <% for tag in @piece.meta(:tags) %>
        <span class="label label-primary"><%= tag %></span>
      <% end %>
    </p>
  </header>

  <p class="intro">Intro: <%= @article.meta(:intro) %></p>

  <%= @html.html_safe %>
</div>

<hr>
