<div class="titleline">
  <h1>Authors</h1>

  <%= link_to new_author_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Author
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Bio</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @authors) do |author| %>
      <td><%= link_to author.name, author %></td>
      <td><%= author.email %></td>
      <td><%= author.bio %></td>
    <% end %>
  </tbody>
</table>
