<div class="page-header">
  <%= link_to authors_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_author_path(@author), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @author.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @author.email %></dd>

  <dt>Bio:</dt>
  <dd><%= @author.bio %></dd>
</dl>

<h2>Articles published by this author</h2>
<% unless @published_versions_hash.empty? %>
<table class="table" id="articles_table">
  <thead>
    <tr>
      <th>Section</th>
      <th>Article</th>
    </tr>
  </thead>
  <tbody>
    <% @published_versions_hash.each do |article, article_version| %>
    <tr title="">
      <td><%= article.piece.section.name %></td>
      <td>
        <p class="headline"><%= link_to article.headline, article_article_version_path(article, article_version) %></p>
        <% if article.subhead? %>
        <p class="subhead"><%= article.subhead %></p>
        <% end %>
        <p class="byline">By <%= article.authors_line %>
          <% if article.bytitle? %>
          <span>— <%= article.bytitle %></span>
          <% end %>
        </p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h4>No articles found by this author</h4>
<% end %>

