<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <%= link_to @user, :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
  <% end %>
  <h1>Editing <%= @user.name %>'s roles</h1>
</div>

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div>
<%= role_checkboxes @user %>
<%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
<% end %>
