<div class="author-header">
  <img src="http://www.jamsadr.com/files/Professional/1fb60f23-00d5-4c43-a552-63321c9ed969/Presentation/HighResPhoto/Person-Donald-900x1080.jpg" alt="">
  <h1><%= @author.name %></h1>
  <span class="article-count"><%= pluralize @articles.count, 'article' %> in <%= sections @articles.map { |a| a.meta(:section_name) } %></span>
  <div class="author-bio">
    <%= @author.bio.split("\n").map(&method(:simple_format)).join("\n").html_safe %>
  </div>
</div>

<%= render 'frontend_pieces/article_list', articles: @articles %>