<div class="module <%= "module-#{modules.map {|m| m[:type]}.uniq.join(' module-').gsub(/_/, '-')}" %> module-col-<%= cols %>">
  <% modules.each do |m| %>
    <div class="module-sub">
      <% if m[:type] == 'article' %>
        <%= render partial: 'modules/fragments/article', locals: {piece: Piece.find(m[:piece])} %>
      <% elsif m[:type] == 'img' || m[:type] == 'img_nocaption' %>
        <%= render partial: 'modules/fragments/' + m[:type], locals: {picture: Picture.find(m[:picture])} %>
      <% elsif m[:type] == 'links' %>
        <%= render partial: 'modules/fragments/links', locals: {links: m[:links].map {|p| Piece.find(p)}} %>
      <% else %>
        <%= render partial: 'modules/fragments/' + m[:type] %>
      <% end %>
    </div>
  <% end %>
</div>