<% modules = submodules %>
<% m = modules.first %>
<div class="module module-<%= m[:type].gsub(/_/, '-') %> module-col-<%= cols %> <%= @homepage_editing ? 'module-multi' : 'module-single' %>" data-uuid="<%= uuid %>">
  <%= render 'modules/submodule', m: m %>
  <%= render 'modules/new_submodule_toolbar', module_uuid: uuid %>
</div>