<div class="module-sub module-<%= m[:type].gsub('_', '-') %>" <%= @homepage_editing ? ' data-uuid=' + m[:uuid] : '' %>>
  <% if @homepage_editing %>
    <%= render 'modules/editing_toolbar', submodule: m %>
  <% end %>
  <% if m[:type] == 'article' %>
    <%= render partial: 'modules/fragments/article', locals: {piece: Piece.find(m[:piece]), headline: m[:headline], lede: m[:lede]} %>
  <% elsif m[:type] == 'img' || m[:type] == 'img_nocaption' %>
    <%= render partial: 'modules/fragments/' + m[:type], locals: {picture: Picture.find(m[:picture]), caption: m[:caption]} %>
  <% elsif m[:type] == 'links' %>
    <%= render partial: 'modules/fragments/links', locals: {links: m[:links].map {|p| Piece.find(p)}} %>
  <% else %>
    <%= render partial: 'modules/fragments/' + m[:type] %>
  <% end %>
</div>