<div class="page-header">
  <%= link_to sections_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_section_path(@section), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%= link_to section_path(@section), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-trash"></span>
    Delete Section
  <% end %>
  <h1><%= @section.name %></h1>

<tbody>
      <td colspan="5">
        <input id="keywords" type="text" placeholder="Filter articles here." class="form-control"data-filter-url="<%= articles_path format: :json %>">
      </td>
      <tr ng-repeat="article in articles" title="{{ article.slug }}">
        <td>{{ article.section_name }}</td>
        <td>
          <p class="headline">{{ article.headline }}</p>
          <p class="subhead" ng-if="article.subhead">{{ article.subhead }}</p>
          <p class="byline">By {{ article.authors_line }}
            <span ng-if="article.bytitle">— {{ article.bytitle }}</span>
          </p>
        </td>
        <td><a href="{{ article.path }}">Show</a></td>
        <td><a href="{{ article.edit_path }}" data-no-turbolink="true">Edit</a></td>
        <td><a href="{{ article.path }}" data-method="delete" data-confirm="Are you sure? ">Delete</a></td>
      </tr>
  </tbody>

</div>


