<div id="pieces_embedded_fields">
  <div class="form-group">
    <%= label_tag :issue_id, 'Issue' %>
    <%= select_tag :issue_id, options_from_collection_for_select(Issue.all, :id, :name, piece.try(:issue_id)), {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= label_tag :section_id, 'Section' %>
    <%= select_tag :section_id, options_from_collection_for_select(Section.all, :id, :name, piece.try(:section_id)), {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= label_tag :primary_tag, 'Primary Tag' %>
    <%= text_field_tag :primary_tag, piece.try(:primary_tag), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :tags_string, 'Tags' %>
    <%= text_field_tag :tags_string, piece.try(:tags_string), class: 'form-control', data: {role: 'tagsinput'} %>
  </div>

  <% if piece.try(:new_record?) || piece.try(:article).try(:unpublished?) %>
    <div class="form-group">
      <%= label_tag :slug, 'Slug' %>
      <%= text_field_tag :slug, piece.try(:slug), class: 'form-control' %>
    </div>
  <% end %>

  <div class="checkbox">
    <%= label_tag :syndicated do %>
      <%= check_box_tag :syndicated, 'true', piece.try(:syndicated?) %>
      This is a syndicated piece.
    <% end %>
  </div>
</div>