<% if false %>
<div class="list-sidebar">
  <div class="list-sidebar-content author-sidebar-content">
    <div class="author-info">
      <h1 class="author-name"><%= @author.name %></h1>
      <% if !@author.bio.nil? %><p class="author-bio"><%= @author.bio.split("\n").map(&method(:simple_format)).join("\n").html_safe rescue '' %></p><% end %>
      <div class="author-social">
        <% if !@author.email.nil? %><a href="mailto:<%= @author.email %>"><%= icon('envelope', @author.email, class: 'fa-fw') %></a><% end %>
        <% if !@author.twitter.nil? %><a href="//twitter.com/s2tephen"><%= icon('twitter', '@' + @author.twitter, class: 'fa-fw') %></a><% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="photographer-topbar">
  <div class="portrait-container">
    <img class="portrait" src="<%= @author.portrait.url(:medium) %>">
  </div>
  <div class="info-container">
    <h1 class="name"><%= @author.name %></h1>
    <span class="count"><%= pluralize(@count, 'photo') %></span>
    <%= @author.bio.split("\n").map { |t| simple_format(t, class: 'bio') }.join.html_safe %>
  </div>
</div>

<div class="list-images">
  <%= render 'image_list', images: @images %>
</div>