<div class="btf-container">
  <% Section.btf.each do |s| %>
    <div class="btf-section">
      <%= section_link s.pieces.first %>
      <% i = 0 %>
      <% s.pieces.with_published_article.each do |p| %>
        <% if !@homepage.fold_pieces.include?(p.id) && !['CORRECTIONS', 'IN SHORT', 'UPCOMING HOME EVENTS', 'Events Nov. 25 – Dec. 01'].include?(p.article.headline.strip) %>
          <%= render 'below_fold_article', p: p %>
          <% break if i == 2 %>
          <% i += 1 %>
        <% end %>
      <% end %>
      <% i = 0 %>
      <ul class="btf-article-list">
        <% s.pieces.with_published_article.each do |p| %>
          <% if !@homepage.fold_pieces.include?(p.id) && !['CORRECTIONS', 'IN SHORT', 'UPCOMING HOME EVENTS', 'Events Nov. 25 – Dec. 01'].include?(p.article.headline.strip) %>
            <li>
              <h1 class="headline"><a href="<%= p.frontend_display_path %>"><%= p.article.headline %></a></h1>
              <h4 class="article-meta"><% if p.article.meta(:authors).any? %><span class="byline">By <%= linked_authors_line p.article.authors %></a></span><% end %><span class="timestamp"><%= p.article.updated_at.strftime('%b. %-d, %Y') %></span></h4>
            </li>
            <% break if i == 7 %>
            <% i += 1 %>
          <% end %>
        <% end %>
        <li><a class="btf-section-link" href="/<%= s.name.downcase.gsub(/ /, '-') %>">Read more in <%= s.name %> &raquo;</a></li>
      </ul>
    </div>
  <% end %>
</div>