  <div class="btf-container">
    <% Section.btf.each do |s| %>
      <% if s.name == 'Opinion' || s.name == 'Arts' || s.name == 'Sports' %>
        <% has_ad = true %>
      <% else %>
        <% has_ad = false %>
      <% end %>
      <div class="btf-section">
      <%= section_name_link s.name%> 
        <% i = 0 %>
        <% s.pieces.with_published_article.each do |p| %>
          <% if !@homepage.fold_pieces.include?(p.id) && !['CORRECTIONS', 'IN SHORT', 'UPCOMING HOME EVENTS', 'Events Nov. 25 – Dec. 01'].include?(p.article.headline.strip) %>
            <%= render 'frontend_homepage/below_fold_article', p: p %>
            <% break if i == 2 %>
            <% i += 1 %>
          <% end %>
        <% end %>
        <% i = 0 %>
        <div class="btf-article-list-block">
          <ul class="btf-article-list">
            <% s.pieces.with_published_article.each do |p| %>
              <% if !@homepage.fold_pieces.include?(p.id) && !['CORRECTIONS', 'IN SHORT', 'UPCOMING HOME EVENTS', 'Events Nov. 25 – Dec. 01'].include?(p.article.headline.strip) %>
                <li>
                  <h1 class="headline"><a href="<%= p.frontend_display_path %>"><%= p.article.headline %></a></h1>
                  <h4 class="article-meta">
                  <% if p.article.meta(:authors).any? %>
                    <span class="byline">By <%= linked_authors_line p.article.authors %></a></span>
                  <% elsif p.article.meta(:attribution) != nil  && p.article.meta(:attribution) != "" && !p.article.meta(:attribution).match(/unknown/i)%> 
                    <span class="byline">By <%= p.article.meta(:attribution) %></span>
                  <% end %>
                  <span class="timestamp"><%= p.article.meta(:published_at).strftime('%b. %-d, %Y') %></span></h4>
                </li>
                <% break if i == (has_ad ? 5 : 7) %>

                <% i += 1 %>
              <% end %>
            <% end %>
            <li><a class="btf-section-link" href="/<%= s.name.downcase.gsub(/ /, '-') %>">Read more in <%= s.name %> &raquo;</a></li>

            <% if has_ad %>
              <img src="" alt="" class="ad-homepage-<%= s.name.downcase %>" data-ads="homepage_<%= s.name.downcase %>">
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>