<header class="nameplate">
  <%= image_tag 'nameplate-logo.png', alt: 'The Tech', class: 'nameplate-logo' %>
  <nav class="nameplate-nav">
    <%= form_tag '/search', method: :get, name: 'search' do %>
      <a href=""><i class="fa fa-search fa-lg"></i></a>
      <input type="text" name="query" value="" placeholder="Search here">
    <% end %>
    <div class="nameplate-top">
      <h1>The Tech</h1>
      <ul>
        <li><%= Date.today.strftime('%B %-d, %Y') %></li>
        <li><a href="<%= Issue.first.pdf.url %>">This Week's Issue<%= icon('newspaper-o', '', class: 'fa-fw') %></a></li>
        <li><%= Weather.temperature_f + '°F' %> <%= wi_icon(wicon_name(Weather.icon, Weather.sun_set_time)) %></li>
      </ul>
    </div>
    <div class="nameplate-bottom">
      <ul>
        <li><a href="/sections/news">News</a></li>
        <li><a href="/sections/opinion">Opinion</a></li>
        <li><a href="/sections/arts">Arts</a></li>
        <li><a href="/sections/sports">Sports</a></li>
        <li><a href="/sections/campus-life">Campus Life</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/ads">Advertising</a></li>
        <li><a href="/about/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>