%body
  %hr/
  = link_to 'Edit from this version', edit_article_path(@article, draft_id: @draft.id), class: 'btn btn-primary', data: {no_turbolink: true}
  - if can?(:update, @draft)
    = form_for [@article, @draft] do |f|
      = f.select :web_status, @draft.valid_next_web_statuses.map { |w| [Draft::WEB_STATUS_NAMES[w], w] }, {}, {class: 'form-control', data: {auto_submit: true}, disabled: @draft.valid_next_web_statuses.size <= 1}
    = form_for [@article, @draft] do |f|
      = f.select :print_status, @draft.valid_next_print_statuses.map { |w| [Draft::PRINT_STATUS_NAMES[w], w] }, {}, {class: 'form-control', data: {auto_submit: true}, disabled: @draft.valid_next_print_statuses.size <= 1}
  = link_to 'Back to Article List', articles_path, class: 'btn btn-default', data: {no_turbolink: true}
  = link_to 'View All Versions', article_drafts_path(@article), class: 'btn btn-default', data: {no_turbolink: true}
  %hr/
  #piece_container
    %header
      %h1
        - if @draft.primary_tag.present?
          #{@draft.primary_tag}:
        = @draft.headline
      - if @draft.subhead.present?
        %p#subhead= @draft.subhead
      %p#authors By #{@draft.authors_string}
      - if @draft.bytitle.present?
        %p#byline= @draft.bytitle
      %p
        - for tag in @draft.tags
          / TODO: Better?
          - next if tag.to_s == Draft::NO_PRIMARY_TAG
          %span.label.label-primary= tag
    .panel.panel-default
      .panel-heading
        Teaser blurb (only appears on homepage, search page, etc.)
      .panel-body
        = @draft.lede
    = @draft.rendered_html.html_safe
  %hr/
