<%= form_for @image, :html => { :multipart => true } do |f| %>
  <% if local_assigns[:is_create] %>
    <div class="form-group">
      <%= label_tag :piece_id, 'Assigned piece' %>
      <%= select_tag :piece_id, options_for_select([['[Create New Piece]', nil]]) + options_from_collection_for_select(Piece.recent, :id, :name, local_assigns[:prefilled_piece_id]), {class: 'form-control'} %>
    </div>

    <%= render 'pieces/embedded_fields', piece: @piece %>
  <% end %>

  <% if @image.primary_piece.present? %>
    <%= render 'pieces/embedded_fields', piece: @piece || @image.primary_piece %>
  <% end %>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_field :caption, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :attribution %><br>
    <%= f.text_field :attribution, class: 'form-control' %>
  </div>


  <!-- Styling borrowed from http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ -->

  <% if local_assigns[:is_create] %>
    <div class="form-group">
      <p id="filepath">
      </p>
      <span class="btn btn-info btn-file">
        Choose pictures <%= file_field_tag "images[]", type: :file, multiple: true %>
      </span>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Create Image', class: 'btn btn-success' %>
  </div>
<% end %>
