%tr{id: "image_#{image.id}", class: "#{'not-ready' if (local_assigns[:mark_print_status] && !image.print_ready?)}"}
  %td.statuses
    - if image.web_published?
      %span.label.label-success Web: Published
    - if image.web_ready?
      %span.label.label-info Web: Ready
    - if image.web_draft?
      %span.label.label-warning Web: Draft

    - if image.print_ready?
      %span.label.label-success Print: Ready
    - if image.print_draft?
      %span.label.label-warning Print: Draft
  %td
    %p{'data-editable-url' => image_path(image), 'data-editable-object' => 'image', 'data-editable-field' => 'caption'}= image.caption.presence || 'Uncaptioned image'
    %p.attribution= (image.attribution.presence || 'No attribution present').upcase
    - unless image.articles.empty?
      %p Accompanying the following articles:
      - image.articles.each do |a|
        = link_to a.newest_draft.headline, [a, a.newest_draft]
  %td.action
  %td.action
    %i.fa.fa-circle-o-notch.fa-spin.hidden
    - if image.web_draft? and can? :update, image
      = form_for image, remote: true do |f|
        = f.hidden_field :web_status, value: :web_ready
        = f.button 'Web Ready', class: 'btn btn-success btn-sm', data: {disable_with: loading_icon}
    - if image.web_ready? and can? :publish, image
      = link_to "Publish", publish_image_path(image), method: :post, class: 'btn btn-success btn-sm', data: {remote: true, disable_with: loading_icon}
    - if image.web_published? and can? :unpublish, image
      = link_to "Unpublish", unpublish_image_path(image), method: :post, class: 'btn btn-danger btn-sm', data: {remote: true, disable_with: loading_icon}
    - if image.print_draft? and can? :update, image
      = form_for image, remote: true do |f|
        = f.hidden_field :print_status, value: :print_ready
        = f.button 'Print Ready', class: 'btn btn-success btn-sm', data: {disable_with: loading_icon}
    = link_to 'Edit', edit_image_path(image), class: 'btn btn-default btn-sm', target: '_blank'
    = link_to 'Show', image, class: 'btn btn-default btn-sm', target: '_blank'
  %td
    = image_tag image.web_photo.url(:thumbnail), class: 'image_thumbnail'