- if local_assigns[:likely_authors].blank?
  - likely_authors = (Author.recent_photographers.to_a + Author.new_authors.to_a).sort_by(&:name)

%tr{id: "image_#{image.id}", class: "#{'not-ready' if (local_assigns[:mark_print_status] && !image.print_ready?)}"}
  %td.statuses
    - if image.web_published?
      %span.label.label-success Web: Published
    - if image.web_ready?
      %span.label.label-info Web: Ready
    - if image.web_draft?
      %span.label.label-warning Web: Draft

    - if image.print_ready?
      %span.label.label-success Print: Ready
    - if image.print_draft?
      %span.label.label-warning Print: Draft
  %td
    %p{'data-editable-url' => image_path(image), 'data-editable-object' => 'image', 'data-editable-field' => 'caption'}= image.caption.presence || 'Uncaptioned image'
    - if image.attribution_text.blank?
      = form_for image, remote: true, html: {class: 'inline-author-form'} do |f|
        = collection_select :image, :author_id, likely_authors, :id, :name, {prompt: '--- Select a Photographer'}, {data: {auto_submit: true}}
      %span.inline-divider or
      %span.attribution{'data-editable-url' => image_path(image), 'data-editable-object' => 'image', 'data-editable-field' => 'attribution'}= 'Add Attribution Text'.upcase
    - else
      - if image.author.present?
        %span.attribution= (image.attribution_text.presence || 'No attribution present').upcase
      - else
        %span.attribution{'data-editable-url' => image_path(image), 'data-editable-object' => 'image', 'data-editable-field' => 'attribution'}= image.attribution_text.upcase
      = form_for image, remote: true, html: {class: 'inline-delete'} do |f|
        = f.hidden_field :author_id, value: ''
        = f.hidden_field :attribution, value: ''
        = f.button "<i class='fa fa-trash'></i>".html_safe, data: {disable_with: loading_icon}
    - unless image.articles.empty?
      %p Accompanying the following articles:
      - image.articles.each do |a|
        = link_to a.newest_draft.headline, [a, a.newest_draft]
  %td.actions
    / A hidden element to trigger the FA font to preload
    %i.fa.fa-circle-o-notch.fa-spin.hidden
    - if image.web_draft? and can? :update, image
      = form_for image, remote: true do |f|
        = f.hidden_field :web_status, value: :web_ready
        = f.button 'Web Ready', class: 'btn btn-success btn-sm', data: {disable_with: loading_icon}
    - if image.web_ready? and can? :publish, image
      = link_to "Publish", publish_image_path(image), method: :post, class: 'btn btn-success btn-sm', data: {remote: true, disable_with: loading_icon}
    - if image.web_published? and can? :unpublish, image
      = link_to "Unpublish", unpublish_image_path(image), method: :post, class: 'btn btn-danger btn-sm', data: {remote: true, disable_with: loading_icon}
    - if image.print_draft? and can? :update, image
      = form_for image, remote: true do |f|
        = f.hidden_field :print_status, value: :print_ready
        = f.button 'Print Ready', class: 'btn btn-success btn-sm', data: {disable_with: loading_icon}
    - if !image.web_published? and can? :destroy, image
      = link_to 'Delete', image, method: :delete, class: 'btn btn-danger btn-sm', remote: true, data: {confirm: 'Are you sure that you want to delete that image? '}
    = link_to 'Edit', edit_image_path(image), class: 'btn btn-default btn-sm', target: '_blank'
    = link_to 'Show', image, class: 'btn btn-default btn-sm', target: '_blank'
  %td
    = image_tag image.web_photo.url(:thumbnail), class: 'image-thumbnail'