.titleline
  %h1 Images
  = link_to new_image_path, class: 'btn btn-primary' do
    New Image
  = form_tag images_path, multipart: true, class: 'inline' do
    = collection_select nil, :issue_id, Issue.limit(10), :id, :name, {prompt: 'Select an Issue to Batch Upload Images'}, class: 'form-control titlebar-input'
    = file_field_tag 'images[]', multiple: true, class: 'btn btn-primary titlebar-btn', data: {auto_submit: true}, class: 'hidden'

- likely_authors = (Author.recent_photographers.to_a + Author.new_authors.to_a).sort_by(&:name)
- articles = Article.order("created_at DESC").limit(50)
= react_component 'ImageList', {images: @images.map { |i| i.as_react(current_ability) }, authors: likely_authors.map { |a| a.as_react(current_ability) }, articles: articles.map { |a| a.as_react(current_ability) } }
