  <nav class="navbar <%= ' up' if params[:controller] == 'frontend_homepage' %><%= ' search' if params[:action] == 'search' %>">
  <a class="navbar-menu" href="">
    <%= image_tag 'logo.png', alt: 'The Tech', class: 'navbar-logo' %>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <a class="navbar-title" href="/">The Tech</a>
  <a class="navbar-feedback" href="https://mailchi.mp/0cdaae5d2937/the-tech-newletter-sub" target="_blank">Subscribe to our newsletter</a>
  <a class="navbar-feedback-alt" href="https://mailchi.mp/0cdaae5d2937/the-tech-newletter-sub" target="_blank">Newsletter</a>
  <% if @article %>
    <a class="article-title hidden" href=""><%= @article.newest_web_published_draft.headline %></a>
  <% elsif @image %>
    <a class="article-title hidden" href=""><%= @title %></a>
  <% end %>
  <a class="navbar-search-icon" href=""><%= icon('search') %></a>
  <%= form_tag '/search', method: :get, name: 'search' do %>
    <input name="query" class="navbar-search" type="text" placeholder="Search" value="<%= if @query then @query.gsub '+', ' ' end %>"></input>
  <% end %>
  <a class="navbar-search-icon navbar-search-close-icon"><%= icon('close') %></a>
</nav>
